/* genral css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 50px;
    background-color: #1a0521;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

/*the main wrapper */
.calculator{
    width: 360px;
    height: 400px;
    border: 2px solid black;

    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-template-areas:
    "result result result result result result result result"
    "result result result result result result result result"
    "clear clear percent percent plusMinus plusMinus divide divide"
    "clear clear percent percent plusMinus plusMinus divide divide"
    "seven seven eight eight nine nine multip multip"
    "seven seven eight eight nine nine multip multip"
    "four four five five six six subtrac subtrac"
    "four four five five six six subtrac subtrac"
    "one one two two three three plus plus"
    "one one two two three three plus plus"
    "love love love love point point equal equal"
    "love love love love point point equal equal";

}

/* buttons */

.result{
    grid-area: result;
    text-align: end;

}
.zero{
    grid-area: love;
    
}

.one{
    grid-area: one;
    

}

.two{
    grid-area: two;
}

.three{
    grid-area: three;
}

.four{
    grid-area: four;
}

.five{
    grid-area: five;
}

.six{
    grid-area: six;
}

.seven{
    grid-area: seven;
}

.eight{
    grid-area: eight;
}

.nine{
    grid-area: nine;
}

.multiply{
    grid-area: multip;
}

.subtract{
    grid-area: subtrac;

}

.add{
    grid-area: plus;

}

.decimal{
    grid-area: point;
    display: grid
}

.equals{
    grid-area: equal;
}

.clear{
    grid-area: clear;
}

.divide{
    grid-area: divide;
}

.percentage{
    grid-area: percent;
}
.plusMinus{
    grid-area: plusMinus;
}

/* align txt */ 

.txt-center{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.txt-center span{
    text-align: center;
}

/* grid for the result */ 

.result{
    display:flex;
    justify-content: flex-end;
    border: 2px solid black;
    letter-spacing: 1rem;
    padding-right: 5px;
}

/* styles for making animated gradient */

:root{
    --clr-1:#210535;
    --clr-2:#430d4b;
    --clr-3:#7b337d;
    --clr-4:#c874b2;
    --clr-5:#f5d5e0;

}

.calculator{
    border-radius:0.5rem;
    position: relative;
}